@using IoTPlatform.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<WebProfileUser> UserManager


<ul class="nav navbar-nav">
    <li class="nav-item uppercase-link profil-link">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span class="profile-address">@User.Identity.Name</span>
        </a>
    </li>
    <li class="nav-item uppercase-link">
        <a class="nav-link" href="#" onclick="document.forms['nav-logout'].submit();">Logout</a>
        <form class="form-inline" name="nav-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"></form>
    </li>
</ul>