@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    ViewData["SubTitle"] = "Invalid attempt";
    ViewData["IconClass"] = "pe-7s-close-circle";
    ViewData["BackLink"] = "Back to Dashboard";
    ViewData["Container"] = "center";
}

<p class="text-danger">You do not have access to this resource.</p>