@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LoginLayout";
}

<section class="content">
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-id"></i>
            </div>
            <div class="header-title">
                <h3>Reset password</h3>
                <small>
                    Please enter your email to reset your password.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <p>An email has been sent to you with a password reset link!</p>
                <p>If you don't see the email in your inbox in the next few minutes, please check your spam folder. If you find the email in your spam, please mark it not spam!</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-default" asp-page="./Login">
                    <strong>Create Account</strong>
                </a>
            </div>
        </div>

    </div>
</section>