@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LoginLayout";
}
<section class="content">
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-id"></i>
            </div>
            <div class="header-title">
                <h3>Reset password</h3>
                <small>
                    Please enter your email to reset your password.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                @if (Request.HasFormContentType)
                {
                    <div asp-validation-summary="All" class="alert alert-mini alert-danger margin-bottom-30"></div>
                }
                <form method="post" autocomplete="off">
                    <div class="form-group">
                        <label asp-for="Input.Email" class="col-form-label">E-mail Address</label>
                        <input asp-for="Input.Email" type="text" placeholder="example@email.com" title="Please enter you e-mail" required="" value="" class="form-control">
                        <span class="form-text small">Your address e-mail to set a new password</span>
                    </div>
                    <div>
                        <button class="btn btn-accent">Reset password</button>
                        <a class="btn btn-default" asp-page="./Login">Login</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}