@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["SubTitle"] = "Confirm deleting your personal data";
    ViewData["IconClass"] = "pe-7s-delete-user";
    ViewData["BackLink"] = "Back to Dashboard";
    ViewData["Container"] = "center";
}

<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span>
    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
</div>

<form id="delete-user" method="post" class="form-group">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.RequirePassword)
    {
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control"/>
            <span class="form-text small"></span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    }
    <button class="btn btn-danger" type="submit">Delete data and close my account</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}