@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["IconClass"] = "pe-7s-news-paper";
    ViewData["TitlePanel"] = true;
    ViewData["BodyPanelFilled"] = false;
}
<p>Use this page to detail your site's privacy policy.</p>